
.foo
{
	color: rgb(0, 100, 0);
	background-color: #000;

	.bar .baz
	{
		color: lime;

		*
		{
			cursor: pointer;
		}
	}
	.quux
	{
		color: green;
	}
}

#one
{
	color: blue;

	.two .three
	{
		display: none;
	}

	:first-child
	{
		background-color: white;

		*
		{
			vertical-align: top;
		}
	}
}
