.foo {
	color: rgb(0, 100, 0);
	background-color: #000;
}
	.foo .bar .baz {
		color: lime;
	}
		.foo .bar .baz * {
			cursor: pointer;
		}
	.foo .quux {
		color: green;
	}
#one {
	color: blue;
}
	#one .two .three {
		display: none;
	}
	#one :first-child {
		background-color: white;
	}
		#one :first-child * {
			vertical-align: top;
		}
