	.foo span.baz {
		color: #232323;
	}
	.foo p+div {
		background-color: #d9d9d9;
	}
	.foo input[name=password] {
		font-size: 200px;
	}
	.foo .dude>.car {
		display: none;
	}
	.bar+div {
		background-color: #d9d9d9;
	}
	.bar>.car {
		display: none;
	}
	.bar [href^="https://"] {
		background-color: yellow;
	}
